# editors
.vscode/
*.vscode/*
# text files
*.txt
# exception
!requirements.txt
# virtual environemts
venv
/venv/*
/env/*
.env*
.venv
.python-version
# databases
db.sqlite*
*.db
*.sql
# cached data
*cache
__pycache__
/application/__pycache__/*
/testing/__pycache__/*
.pytest_cache/
*.tmp*
*.history
# pip-install stuff
pip-log.txt
pip-delete-this-directory.txt
# flask
instance/
.webassets-cache
# tests
.cover
.coverage
.coverage*
/testing/.coverage
test.sh
# scripts
install-jenkins.sh