<!DOCTYPE html>
<html>
    <head>
        <title>My Festival Planner</title>
    </head>
    <body style="text-align: center">
        <h2>Welcome to My Festival Planner</h2>
        <p>Create unique festivals, and add acts to your preferred timeslots!</p>
        <p>Read a list of all the festival schedules you've made</p>
        <span><a href="{{ url_for('create') }}">Create New Festival</a></span>
        <span><a href="{{ url_for('viewall') }}">View All Festivals</a></span>
        <span><a href="{{ url_for('update') }}">Update a Festival</a></span>
        <span><a href="{{ url_for('delete') }}">Delete a Festival</a></span>
        {% block festival %}{% endblock festival %}
    </body>
</html>