<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy Festival App</title>
    </head>
    <body style="text-align: center">
        <h2>Welcome to the Fantasy Festival App</h2>
        <p>Create unique festivals in your dream locations, featuring dream acts in your preferred timeslots!</p>
        <p>Read a list of all the festival schedules you've made</p>
        <h1>My Fantasy Festival!</h1>
        <span><a href="create">Create New Festival</a></span>
        <span><a href="viewall">View All Festivals</a></span>
        <span><a href="update">View All Festivals</a></span>Update Festivals
        <span><a href="delete">View All Festivals</a></span>Delete Festivals
    </body>
</html>